<div data-lift="lift:surround?with=default;at=content">
  <h2 class="alt alert alert-info" role="alert">Editar Artículo</h2>
  <div data-lift="ItemsSn.edit?form=post">
    <span id="hidden"></span>
    <div class="input-group">
      <p><label for="item-name">Nombre</label>
      <input id="item-name" type="text" class="form-control" placeholder="Nombre"></p>
      <p><label for="item-price">Precio</label>
      <input id="item-price" type="text" class="form-control" placeholder="Precio"></p>
      <p><label for="item-status">Estatus</label>
      <span id="item-status" class="form-control"/></p>
    </div>
    <div class="btn-group" role="group">
	    <p><input id="submit" type="submit" class="btn btn-default" value="Guardar"/>
	    <a href="/admin/item/list" src="Cancelar" class="btn btn-danger" role="button">Cancelar</a></p>
	</div>
  </div>
</div>