<div data-lift="lift:surround?with=default;at=content">
   <h2 class="alt alert alert-info" role="alert">Artículos </h2>
	</p><a href="/admin/item/create" src="Nuevo" class="btn btn-default" role="button">Nuevo</a></p>
   
   <div data-lift="ItemsSn.list">
      <table class="table table-striped">
		  <thead>
		     <tr>
		       <th>Nombre</th>
		       <th>Precio</th>
		       <th>Stock</th>
		       <th>Estatus</th>
		     </tr>
		  </thead>
		  <tbody id="item-list">
			 <tr class="fila">
			 <td class="item-name"></td>
			 <td class="item-price"></td>
			 <td class="item-stock"></td>
			 <td class="item-status"></td>
			 <td class="actions "></td>
			 </tr>
		  </tbody>
	   </table>
   </div>
</div>