<div data-lift="lift:surround?with=default;at=content">
   <h2 class="alt alert alert-info" role="alert">Sales</h2>
   <div id="cash-form" data-lift="SalesSn.cash?form=post" class="input-group">
	   <div class="row">
	   		<div class="col-md=12"><label form="cliente">Cliente:</label><cf:cliente/></div>
	   </div>
	   <div class="row">
	   		<div class="col-md-8"><label for="articulo">Artículo:</label><cf:articulo/></div>
	   		<div class="col-md-4"><label for="precio">Precio:</label><input lift="SalesSn.precio" id="precio" name="precio" class="form-control" placeholder= "Precio del artículo"/></div>
	   </div>
	   <div class="row">
	   		<div class="col-md-6"><label for="cantidad">Cantidad:</label><input id="cantidad" name="cantidad" class="form-control" placeholder= "Cantidad de artículo"/></div>
	   		<div class="col-md-6"><label form="descuento">Descto:</label><cf:descuento/></div>
	   </div>
	   <div class="row">
	   		<div class="col-md-4"><label for="subtotal">Subtotal:</label></br><span lift="SalesSn.subtotal">unknown</span></div>
	   		<div class="col-md-4"><label form="tax">IVA:</label><cf:impuesto/></br><span lift="SalesSn.iva">unknown</span></div>
	   		<div class="col-md-4"><label form="total">Total:</label><cf:total/></br><span lift="SalesSn.total">unknown</span></div>
	   </div>
	   <div class="row">
	   		<div class="col-md-8"></div>
	   		<div class="col-md-4"><cf:submit/></div>
	   </div>
	   <div id="cash-table" class="row">
	   		<table class="table table-striped table-responsive">
   				<thead>
				    <tr>
				    	<th>Artículo</th>
				    	<th>Precio</th>
				    	<th>Cantidad</th>
				    	<th>Descuento</th>
				    	<th>Subtotal</th>
				    	<th>IVA</th>
				    	<th>Total</th>
				    </tr>
			  	</thead>
			  	<tbody id="cash-list">
					<tr class="fila">
						<td class="cash-articulo">&nbsp;</td>
						<td class="cash-precio">&nbsp;</td>
						<td class="cash-cantidad">&nbsp;</td>
						<td class="cash-descuento">&nbsp;</td>
						<td class="cash-subtotal">&nbsp;</td>
						<td class="cash-iva">&nbsp;</td>
						<td class="cash-total">&nbsp;</td>
						<td class="cash-actions">&nbsp;</td>
					</tr>
			  	</tbody>
	   		</table>
	   		<div class="row">
	   			<ct:submit/>
	   		</div>
	   </div>
   </div>   
</div>