<div data-lift="lift:surround?with=default;at=content">
  <h2 class="alt alert alert-info" role="alert">Nuevo Cliente</h2>
  <div data-lift="ClientsSn.create?form=post">
    <span id="hidden"></span>
    <div class="input-group">
      <p><label for="client-name">Nombre</label>
      <input id="client-name" type="text" class="form-control" placeholder="Nombre"></p>
      <p><label for="client-rfc">RFC</label>
      <input id="client-rfc" type="text" class="form-control" placeholder="RFC"></p>
      <p><label for="client-status">Estatus</label>
      <span id="client-status" class="form-control"/></p>
    </div>
    <div class="btn-group" role="group">
	    <p><input id="submit" type="submit" class="btn btn-default" value="Guardar"/>
	    <a href="/admin/client/list" src="Cancelar" class="btn btn-danger" role="button">Cancelar</a></p>
	</div>
  </div>
</div>