<div data-lift="lift:surround?with=default;at=content">
	<h2 class="alt alert alert-info" role="alert">Borrar Cliente</h2>
	<div data-lift="ClientsSn.delete">
		<p><h4>¿Est&aacute; seguro de borrar el cliente <i><span id="client"></span>?</i></h4></p>
		<div class="btn-group">
			<p><h4>
				<a id="yes" href=#>Yes</a>
				<a id="no" href=#>No</a>
			</h4></p>
		</div>
	</div>
</div>