<div data-lift="lift:surround?with=default;at=content">
   <h2 class="alt alert alert-info" role="alert">Clientes </h2>
	</p><a href="/admin/client/create" src="Nuevo" class="btn btn-default" role="button">Nuevo</a></p>
   
   <div data-lift="ClientsSn.list">
      <table class="table table-striped">
		  <thead>
		     <tr>
		       <th>Nombre</th>
		       <th>RFC</th>
		       <th>Estatus</th>
		     </tr>
		  </thead>
		  <tbody id="client-list">
			 <tr class="fila">
			 <td class="client-name">Dummy Name</td>
			 <td class="client-rfc">Dummy Name</td>
			 <td class="client-status">Dummy Name</td>
			 <td class="actions "> Actions</td>
			 </tr>
		  </tbody>
	   </table>
   </div>
</div>