<div data-lift="lift:surround?with=default;at=content">
  <h2 class="alt alert alert-info" role="alert">Actualizar Stock</h2>
  <div data-lift="StockSn.create?form=post">
    <span id="hidden"></span>
    <div class="input-group">
      <p><label for="stock-amount">Cantidad</label>
      <input id="stock-amount" type="text" class="form-control" placeholder="Cantidad de Artículos"></p>
      <p><label for="stock-status">Transacción</label>
      <span id="stock-transaction" class="form-control"/></p>
    </div>
    <div class="btn-group" role="group">
	    <p><input id="submit" type="submit" class="btn btn-default" value="Guardar"/>
	    <a href="/admin/stock/list" src="Cancelar" class="btn btn-danger" role="button">Cancelar</a></p>
	</div>
  </div>
</div>