<div data-lift="lift:surround?with=default;at=content">
   <h2 class="alt alert alert-info" role="alert">Stock - <span data-lift="ItemsSn.itemName"></span> <strong>(</strong><span data-lift="StockSn.stockNumItems"></span><strong>)</strong></span></h2>
	</p><a href="/admin/stock/create" src="Nuevo" id="stock-new" class="btn btn-default" role="button">Nuevo</a></p>

   <div data-lift="StockSn.list">
      <table class="table table-striped">
		  <thead>
		     <tr>
		       <th>Transacción</th>
		       <th>Cantidad</th>
		     </tr>
		  </thead>
		  <tbody id="stock-list">
			 <tr class="fila">
			 <td class="stock-transaction">&nbsp;</td>
			 <td class="stock-amount">&nbsp;</td>
			 <td class="stock-created">&nbsp;</td>
			 </tr>
		  </tbody>
	   </table>
	</div>
</div>